VITE_SUPABASE_URL="https://zhtzotzuiumzpkonctes.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpodHpvdHp1aXVtenBrb25jdGVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NDg0OTUsImV4cCI6MjA5OTMyNDQ5NX0.Q9kPoN7rJSmaHZLER6UA0s9l3pY8Cxbi0jZ8mZAtiJs"
